@media (max-width: 1024px){
  .container {
    display: flex;
    flex-direction: column;
  }
  #section-texts{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #section-stranger-things-trailer {
    display: flex;
    flex-direction: column;
  }

  .container_section-text h2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #section-stranger-things-gallery .gallery-container{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #section-form .container{
    display: flex;
    flex-direction: column;
  }

  #section-form, h2{
    text-align: center;
  }

  .form-content, h3{
    display: flex;
    flex-direction: column;
  }

  footer{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:650px){
  .container {
    display: flex;
    flex-direction: column;
  }

  #section-texts{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #section-stranger-things-trailer {
    display: flex;
    flex-direction: column;
  }

  .container_section-text, h2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #section-stranger-things-gallery .gallery-container{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #section-form .container{
    display: flex;
    flex-direction: column;
  }

  #section-form, h2{
    text-align: center;
  }

  .form-content, h3{
    display: flex;
    flex-direction: column;
  }

  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}

  

  
